<div class="container">

    <div class="row">
        <a class="refresh" href="/">
          <span class="glyphicon glyphicon-home"></span>
        </a>
        <h1 class="articles-header"> Saved Articles </h1>
 
    </div>

    <div class="row">

        <div class ="col-md-12">
            
            <ul style="list-style: none;">
                {{#each articles}}
                    {{#if saved}}
                        <div class="savedArticles">
                            <h4> {{title}} </h4>
                            <form action="/remove/{{this.id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <button class="btn-danger btn-sm remove" type="submit"> Remove </button>
                            </form>
                            {{!--comment button form--}}
                            {{!-- <form action="/comments/{{this.id}}?_method=PUT" method="POST"></form> --}}
                            <button class="comment btn-primary btn-sm" value="{{this.id}}"> Comment </button>
                        </div>
                    {{/if}}
                {{/each}}
            </ul>
            {{!-- <div id="comment"></div> --}}
        </div>
    </div>
</div>